{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<diiv class="toolbar justify-content-center d-flex flex-column">
    

    <div class="row" style="background-color: white;">
        <div class="col-auto ms-1 menu">
            <img class="icon inv"  style=" margin: 10px;"  src="{% static 'icon/menus.png' %}" alt="" id="menu">
            
        </div>
        <div  class="col-auto position-absolute end-0 me-5" style="justify-content: end;">
            {% if user.is_authenticated %}
            {% else %}
                <a href="{% url 'authentication:login' %}">
                    <img class="icon" src="{% static 'icon/add_user.png' %}" alt="" id="menu" style=" margin: 10px;">
                </a>

            {% endif %}
        </div>
        <div  class="col-auto position-absolute end-0 me-1" style="justify-content: end;">
            <a href="{% url 'authentication:login' %}">
                <img class="icon" src="{% static 'icon/nouvelle_d.png' %}" alt="" id="menu" style=" margin: 10px;">
            </a>
        </div>
        
    </div>
</diiv>





