@media(orientation: portrait){
    
    .form-control{
        border-radius: 30px;
        margin-bottom: 20px;
        width: 100%;
    }
    .form-control:focus{
           box-shadow: 0.3rem 0 0.2rem 0.2rem rgba(37, 58, 223, 0.61)
               
    }
}

@media(orientation: landscape) {
    .form-control{
        border-radius: 30px;
        margin-bottom: 20px;
        width: 100%;
    }
    .form-control:focus{
           box-shadow: 0.3rem 0 0.2rem 0.2rem rgba(37, 58, 223, 0.61)
               
    }
    
}